/target
/rsx/target
/rsx/.vscode
/**/*.zip
/**/node_modules/*
/tests
/gen/target
/gen/components/target/**
/examples/.vscode
/examples/**/target/**
/gen-ui/target
/wiki/**/target
/examples/ract
**/*.DS_Store
/gen/mini_test.rs
